:root{
    --font-heading: 'Merriweather', serif;
    --font-body: 'Mulish', sans-serif;
    --fs-heading:42px;
    --fs-sub-heading:26px;
    --fs-body:16px;
    --fs-sub-body:13px;
    --fw-heading:700;
    --fw-body:400;
    --primary-color:#c4c4c4;
    --second-color:#fff;
    --font-body-color:#141414;
    --font-sub-color: rgba(0,0,0, 0.5);
}

body{
    font-family: var(--font-body);
    font-size: var(--fs-body);
    width: 100vw;
    overflow-x: hidden;
}

a,a:hover,a:visited{
    text-decoration: none;
}

.container-section{
    margin: 0 108.5px;
}

.content{
    padding: 40px 0;
}

.content-title{
    font-family: var(--font-heading);
    font-size: var(--fs-heading);
    margin-bottom: 20px;
}

/* Header */

.header{
    background-color: var(--primary-color);
    width: 100vw;
}

.header .core-header{
    border-bottom: 5px solid var(--second-color);
    height: 120px;
}

.header .col-core-header{
    display: flex;
    height: 120px ;
}

.header .col-core-header:nth-child(odd){
    align-items: center ;
}

.header .col-core-header:first-child .core-header-title{
    margin: 0;
    font-size: var(--fs-sub-heading);
    font-family: var(--font-heading);
    color: var(--font-body-color);
}

.header .col-core-header:nth-child(2){
    align-items: center;   
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    padding-top: 10px;
}

.header .col-core-header:nth-child(2) .logo-img{
    width:70px;
    height: 70px;
}

.header .col-core-header:nth-child(2) .input-col{
    position: absolute; 
    top: 100%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 2;
}

.header .col-core-header:nth-child(2) .search-section{
    position: relative;
}

.header .col-core-header:nth-child(2) .input-col .search-input{
    width: 100%;
    height: 45px;
    border-radius: 100px;
    padding-left: 20px;
    padding-right: 58px;
    background: var(--second-color);
    border: none;
    transition: all .3s linear;
}

.header .col-core-header:nth-child(2) .input-col .search-input:focus{
    outline: none;
    box-shadow: 0 0 0 2px var(--font-body-color);
}


.header .col-core-header:nth-child(2) .input-col .search-input::placeholder{
    font-size: var(--fs-body);
    color: rgba(0,0,0, 0.8);
}

.header .col-core-header:nth-child(2) .button-search{
   position: absolute;
   background: transparent;
   border: none;
   right: 20px;
   top: 50%;
   transform: translateY(-50%);
}

.header .col-core-header:nth-child(2) .button-search img{
    width: 18px;
    height: 25px;
}

.header .col-core-header:last-child{
    justify-content: flex-end;
}

.header .col-core-header:last-child .header-link{
    color: var(--font-body-color) ;
    font-family: var(--font-heading);
    padding: 5px;
    opacity: 1;
    transition: opacity .3s linear;
}


.header .col-core-header:last-child .header-link:hover{
    opacity: .5;
}

.header .col-core-header:last-child .header-link:first-child{
    position: relative;
    margin-right: 12px;
}

.header .col-core-header:last-child .header-link:last-child{
    position: relative;
    margin-left: 12px;
}

.header .col-core-header:last-child .link-divider{
    display: block;
    width: 2px;
    height: 24px;
    background: var(--font-body-color);
}

.header .navbar{
    width: 100vw;
    background: var(--primary-color);
    padding: 25px 108.5px 5px 108.5px;
}

.header .navbar .navbar-brand{
    display: none;
}

.header .navbar .nav-item:not(:last-child){
    margin-right: 20px;
}

.header .navbar .nav-link{
    color: var(--font-body-color);
    transition: all .3s linear;
    font-weight: bold;
}

.header .navbar .nav-link:hover{
    opacity: .5;
}


/* Content */

.content .content-about{
    text-align: center;
    margin-bottom: 80px;
}

.content .content-journal-popular .content-title{
    text-align: center;
    margin-bottom:15px;
}

.content .content-journal-popular .content-subtitle{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(0,0,0, 0.5);
    font-size: var(--fs-body);
    margin-bottom: 40px;    
}

.content .content-journal-popular .card-link:hover .card{
    box-shadow: 0 10px 0 rgba(0,0,0, 0.25);
    transform: translateY(-10px);
}

.content .content-journal-popular .card{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    padding: 15px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.25);
    transition: all .3s linear;
}

.content .content-journal-popular .card .card-body{
    padding:5px 30px;
}

.content .content-journal-popular .card .card-img img{
    border-radius: 40px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.content .content-journal-popular .card .card-title{
    font-family: var(--font-heading);
    font-size: var(--fs-sub-heading);
    color: var(--font-body-color);
}

.content .content-journal-popular .card .card-date{
    font-family: var(--font-body);
    font-size: var(--fs-body);
    color: rgba(0,0,0, 0.5);
    font-weight: bold;
    margin-bottom: 20px;
}

.content .content-journal-popular .card .card-desc{
    font-family: var(--font-body);
    font-size: var(--fs-sub-body);
    color: var(--font-body-color);
}

.content .content-journal-popular .more-action{
    text-align: center; 
    margin-top: 20px;
    margin-bottom: 40px;
}

.content .content-journal-popular .more-link{
    padding: 10px 20px;
    border: 2px solid var(--font-body-color);
    color: var(--font-body-color);
    border-radius: 100px;
    transition: all .3s linear;
}

.content .content-journal-popular .more-link:hover{
    color: var(--second-color);
    background: var(--font-body-color);
    border-radius: 100px;
}

.content .content-data{
    margin-bottom: 80px;
}

.content .content-data .content-title{
    text-align: center;
    margin-bottom: 20px;
}

.content .content-data .col-data{
    padding: 20px;
    width: 47.5%;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.25);
    background: var(--second-color);
}

.content .content-data .col-data:first-child{
    margin-right: 20px;
}

.content .content-data .col-data:last-child{
    margin-left: 20px;
}

.content .content-data .col-data .col-visitors{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.content .content-data .col-data .col-visitors .data-visitors{
    margin-left: 20px;
    margin-top: 15px;
}

/* Footer */

.footer{
    background: var(--primary-color);
    height: 460px;
    border-bottom: 5px solid var(--second-color);
}

.footer .col-footer{
    height: 460px;
    padding: 0;
}

.footer .col-footer:first-child{
    margin-right: 20px;
}

.footer .col-footer:last-child{
    margin-left: 20px;
}

.footer .col-footer .footer-logo{
    position: relative;
    top:50%;
    transform: translateY(-50%);
}

.footer .col-footer .footer-logo::after{
    content: '';
    display: block;
    width: 3px;
    height: 70%;
    position: absolute;
    background: var(--font-body-color);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.footer .col-footer .footer-contact{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.footer .col-footer .footer-contact .col-contact{
    display: flex;
    align-items: center ;
}

.footer .col-footer .footer-contact .col-contact:not(:last-child){
    margin-bottom: 20px;
}

.footer .col-footer .footer-contact .col-contact .contact-icon{
    font-size: 40px;
    margin-right: 20px;
}

.footer .col-footer .footer-contact .col-contact .desc-contact{
    font-weight: normal;
}


/* Copyright */

.copyright{
    width: 100vw;
    height: 60px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.copyright .copyright-title{
    font-family: var(--font-heading);
    font-size: var(--fs-body);
    margin-bottom: 0;
}

.copyright .copyright-title .creator{
    text-decoration: none;
    color: rgba(0,0,0, 0.5);
}

/* Responsive Breakpoints (Mobile) */

@media (max-width:576px){
    :root{
    --fs-heading:26px;
    --fs-sub-heading:16px;
    --fs-body:13px;
    --fs-sub-body:10px;
    }

    .container-section{
        margin: 0 50px;
    }

    /* Header */

    .header .col-core-header{
        border: 1px solid red;
        width: 50%;
    }

    .header .col-core-header:first-child{
        display: none;
    }

    .header .col-core-header:nth-child(2) .input-col{
        left: 100%;
        transform: translate(-50%, -50%);
        width:200%;
    }

    .header .col-core-header:last-child{
        justify-content: center;
    }

    .header .col-core-header:last-child .header-link, .header .col-core-header:last-child .link-divider{
        transform: translateY(-10px);
    }

    .header .navbar .navbar-brand{
        display: block;
        color: var(--font-body-color);
        font-size: var(--fs-sub-heading);
        font-family: var(--font-heading);
    }

    .header .navbar .navbar-toggler{
        background: var(--second-color);
    }

    .header .navbar .navbar-collapse{
        background: var(--second-color);
        padding-left: 20px;
    }

    .header .navbar .dropdown-menu{
        background: var(--primary-color);
    }


    /* Content */

    .content .content-journal-popular .content-title{
        margin-bottom: 3px;
    }

    .content .content-journal-popular .card{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .content .content-journal-popular .card .card-title{
        margin-bottom: 3px;
    }

    .content .content-journal-popular .card .card-date{
        margin-bottom: 10px;
    }

    .content .content-journal-popular .card .card-desc{
        margin-bottom: 10px;
    }

    .content .content-data .col-data{
        width: 100%;
    }

    .content .content-data .col-data:first-child{
        margin-right: 0;
        margin-bottom: 40px;
    }

    .content .content-data .col-data:last-child{
        margin-left: 0;
    }

    .content .content-data .col-data .col-visitors .img-flag{
        width: 72px;
        height: 37px;
    }

    .content .content-data .col-data .col-visitors .data-visitors{
        margin-left: 3px;
    }

    .content .content-data .col-data .col-indexers{
        text-align: center;
        padding: 10px;
    }

    /* Footer */

    .footer{
        height: auto;
    }

    .footer .col-footer{
        position: relative;
    }

    .footer .col-footer:first-child{
        margin-right: 0;
    }

    .footer .col-footer:last-child{
        margin-left: 0;
    }

    .footer .col-footer:first-child:after{
        content: '';
        display: block;
        height: 3px;
        width: 70%;
        background: var(--font-body-color);
        position: absolute;
        top: calc(100% + 10px);
        left: 50%;
        transform: translateX(-50%);
    }

    .footer .col-footer .footer-logo{
        text-align: center;
    }

    .footer .col-footer .footer-logo::after{
        display: none;
    }

    .footer .col-footer .footer-logo img{
        width: 275px;
        height: 275px;
    }

    .copyright .copyright-title{
        font-size: var(--fs-sub-heading);
    }
    
}

@media (max-width:430px){
    .navbar .navbar-brand{
        font-size: 13px;
    }
}